@import url("https://fonts.googleapis.com/css?family=Work+Sans");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Lato", sans-serif;
  line-height: 1;
}
body {
  font-family: "Work Sans", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 14px;
  color: #4d4d4d;

  background-color: #f5f6f8;
}

//Color Variables
$sidebar-background-color: #313443;
$active-sidebar-link-color: #22252e;
$hover-sidebar-link-color: $active-sidebar-link-color;
$active-link-color: #98d7ec;
$tooltip-background-color: $sidebar-background-color;

.rbc-button-link{
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  outline: none !important;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  color: #fff;
  background-color: #3c44b1;
  border-color: #3c44b1;
  color: #3c44b1;
  background: transparent;
  border-width: 2px;
  border-style: solid;
  text-transform: uppercase;
  padding: 0.10rem 0.5rem;
  font-size: 0.82rem;
  line-height: 1.5;
  border-radius: 0.29rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  line-height: 2;
}